.footer {
  position: relative;
  background: #232324;
  color: #ffffff;
}

.footer__copyright {
  margin-top: 16px;
  float: left;
}

.footer__copyright_red {
  color: #eb4f4e;
}

.footer__social {
  width: 120px;
  height: 32px;
  margin: 10px 0;
  float: right;
}

.social {
  width: 31px;
  height: 32px;
  margin-left: 5px;
  display: inline-block;
  background-color: #eb4f4e;
}

.social_fb {
  background: #eb4f4e url("../img/fb-icon.png") no-repeat 50% 50%;
}

.social_tw {
  background: #eb4f4e url("../img/twitter-icon.png") no-repeat 50% 50%;
  background-size: 21px 17px;
}

.social_rss {
  background: #eb4f4e url("../img/rss-icon.png") no-repeat 50% 50%;
}

.contacts {
  width: 620px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #232324;
}

.contacts__headline {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.contacts__value{
  display: block;
  padding-top: 20px;
  color: #eb4f4e;
}

.footer__contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -35%);
  -ms-transform: translate(-50%, -35%);
  -o-transform: translate(-50%, -35%);
  -webkit-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
}

.footer__map {
  width: 100%;
  vertical-align: bottom;
}
