.footer {
  position: relative;
  background: #232324;
  /*min-height: 301px;*/
  color: #ffffff;
}

.footer__copyright {
  margin-top: 16px;
  float: left;
}

.footer__copyright_red {
  color: #eb4f4e;
}

.footer__social {
  width: 120px;
  height: 32px;
  margin: 10px 0;
  float: right;
}

.social {
  width: 31px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
  /*margin: 10px 5px;*/
  background-color: #eb4f4e;
}

.social_fb {
  background: #eb4f4e url("../img/fb-icon.png") no-repeat 50% 50%;
}

.social_tw {
  background: #eb4f4e url("../img/twitter-icon.png") no-repeat 50% 50%;
  background-size: 21px 17px;
}

.social_rss {
  background: #eb4f4e url("../img/rss-icon.png") no-repeat 50% 50%;
}

.contacts {
  width: 620px;
  padding-top: 20px;
  padding-bottom: 25px;
  /*height: 152px;*/
  text-align: center;
  background-color: #232324;
}

.contacts__headline {
  display: block;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.contacts__value{
  display: block;
  padding-top: 30px;
  color: #eb4f4e;
}

.footer__contacts {
  position: absolute;
  top: 100px;
  left: 35%;
}

.footer__map {
  width: 100%;
}
