.merits {
  padding: 40px 0 25px 0;
  background: #232324;
}

.merits__headline {
  color: #ffffff;
}

.merits__subhead {
  margin-bottom: 40px;
  text-align: center;
  color: #d94948;
}

.merits_element {
  float: left;
}

.merit {
  width: 33%;
  padding: 0 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.merit__value {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #ffffff;
}

.merit__description {
  line-height: 1.4em;
  color: #d94948;
}

.merit__round {
  width: 104px;
  height: 103px;
  margin: 0 auto;
  margin-bottom: 27px;
  border-radius: 50%;
}

.merit__round_purpose {
  background-color: #e74c3c;
  background-image: url("../img/multi.png");
  background-repeat: no-repeat;
  background-position: center;
}

.merit__round_ui {
  background-color: #e74c3c;
  background-image: url("../img/flat.png");
  background-repeat: no-repeat;
  background-position: center;
}

.merit__round_design {
  background-color: #e74c3c;
  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: center;
}
