.header__menu {
  background: #f56262;
}

.header__menu .wrapper {
  padding: 38px 0;
  text-align: right;
  font-size: 1rem;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto contain;
}

.menu-container {
  float: right;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  float: left;
  height: 33px;
  margin-left: 30px;
  list-style: none;
  text-align: left;
  line-height: 33px;
  vertical-align: middle;
}

.menu__item_current{
  width: 74px;
  text-align: center;
  background-color: #232324;
  border-radius: 5px;
}

.menu__link {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
}

.menu__link:hover {
  height: 33px;
  text-align: center;
  background-color: #c44e4e;
  border-radius: 5px;
}
