.team {
  padding: 40px 0 25px 0;
  background: #6cc372;
}

.team__headline {
  color: #ffffff;
}

.team__subhead {
  margin-bottom: 40px;
  text-align: center;
  color: #232324;
}

.team-container {
  margin: 0 auto;
}

.team__member {
  margin-left: 15px;
  float: left;
}

.member {
  width: 23%;
  background-color: #ffffff;
  border-radius: 2%;
}

.member__photo {
  display: block;
  margin: 23px auto;
  margin-bottom: 0;
  border-radius: 50%;
}

.member__name {
  font-size: 1.3rem;
  line-height: 2.5em;
  text-align: center;
  color: #6cc372;
}

.member__position {
  text-align: center;
  color: #e74c3c;
}

.button {
  display: block;
  width: 96%;
  margin: 20px auto;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.button_twitter {
  padding: 10px 0;
  color: #ffffff;
  background-color: #6cc372;
  background-image: url("../img/twitter-icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
