* {
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  font-family: Geneva, sans-serif;
}

header, footer, nav, section {
  display: block;
}

.wrapper {
  position: relative;
  width: 951px;
  min-height: inherit;
  height: inherit;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper h2 {
  margin-top: 40px;;
  margin-bottom: 0.7em;
  font-size: 26px;
  letter-spacing: 0.2em;
}

header, #tweets {
  background: #eb4f4e;
}

header{
  position: relative;
  min-height: 750px;
  text-align: center;
  color: #ffffff;
}

nav {
  min-height: 110px;
  background: #f56262;
}

nav .wrapper {
  padding: 38px 0;
  text-align: right;
  font: 1.0em;
  background: url("img/logo.png") no-repeat 0 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  height: 33px;
  margin-right: 50px;
  list-style: none;
  /*border: 1px solid black;*/
  text-align: left;
  line-height: 33px;
  vertical-align: middle;
}

nav li:last-child {
  margin-right: 0;
}

nav li.current{
  width: 74px;
  text-align: center;
  background-color: #232324;
  /*border: 1px solid black;*/
  border-radius: 5px;
}

header h2 {
  margin-top: 75px;;
  margin-bottom: 0.4em;
  font-size: 40px;
  letter-spacing: 0.2em;
}

header p {
  font-size: 16px;
}

header .browser {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

header .back.browser {
  top: 285px;
  width: 498px;
  height: 347px;
}

header .front.browser {
  top: 220px;
  left: 18%;
  width: 622px;
  height: 433px;
  z-index: 10;
  background-image: url("img/safari-fcbarsa.jpg");
}

header .left.browser {
  left: 0;
  background-image: url("img/safari-blueapple.jpg");
}

header .right.browser {
  right: 0;
  background-image: url("img/safari-cloud.jpg");
}


#merits, footer {
  background: #232324;
}

#merits {
  height: 371px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#merits h2 {
  color: #ffffff;
}

#merits .merit-value {
  margin-bottom: 15px;
  font-size: 20px;
  color: #ffffff;
}

#merits p {
  margin-bottom: 45px;
  color: #d94948;
}

#merits .merit {
  width: 228px;
  margin-left: 30px;
  margin-right: 70px;
  /*display: inline-block;*/
  float: left;
  text-align: inherit;
}

#merits .merit:last-child {
  margin-right: 30px;
}

#merits .round {
  width: 104px;
  height: 103px;
  margin-bottom: 27px;
  display: inline-block;
  border-radius: 50%;
}

#merits #merit-1 {
  background: #e74c3c url("img/multi.png") no-repeat 50% 50%;
}

#merits #merit-2 {
  background: #e74c3c url("img/flat.png") no-repeat 50% 50%;
}

#merits #merit-3 {
  background: #e74c3c url("img/cloud.png") no-repeat 50% 50%;
}

#team {
  height: 518px;
  padding: 0;
  background: #6cc372;
  text-align: center;
}

#team h2 {
  color: #ffffff;
}

#team p {
  margin-bottom: 40px;
  color: #232324;
}

#team .team-member {
  width: 220px;
  /*height: 344px;*/
  margin-right: 10px;
  padding: 0;
  display: inline-block;
  background-color: #ffffff;
}

#team .team-member:last-child {
  margin-right: 0;
}

#team .team-member p {
  margin-bottom: 1em;
  font-size: 12px;
  color: #e74c3c;
}

#team p.member-name {
  margin-bottom: 1em;
  font-size: 18px;
  color: #6cc372;
}

#team .twitter-follow {
  width: 207px;
  padding: 10px 0;
  margin: 10px auto;
  font-size: 18px;
  color: #ffffff;
  background: #6cc372 url("img/twitter-icon.png") no-repeat 5% 50%;
  border-radius: 5px;
}

#portfolio {
  min-height: 563px;
  text-align: center;
  background: #ececec;
}

#portfolio h2 {
  color: #616161;
}

#portfolio p {
  margin-bottom: 40px;
  color: #61af66;
}

#portfolio .example {
  width: 203px;
  margin-right: 40px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
  color: #232324;
}

#portfolio .example:last-child {
  margin-right: 0;
}

#portfolio .example img {
  margin-bottom: 25px;
}

#pricing {
  min-height: 486px;
  background: #ffffff;
}

#tweets {
  position: relative;
  width: 100%;
  min-height: 281px;
  text-align: center;
}

#tweets h2 {
  color: #ffffff;
}

#tweets p {
  margin-bottom: 30px;
  color: #232324;
}

#tweets .arrow {
  position: absolute;
  top: 42%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #232324;
}

#tweets .prev.arrow {
  left: 15%;
}

#tweets .next.arrow {
  right: 15%;
}

#tweets #tweet {
  margin-top: 25px;
  font-style: italic;
  text-align: left;
  line-height: 2em;
}

#tweets #tweet span {
  color: #ffffff;
}

footer {
  position: relative;
  /*min-height: 301px;*/
  color: #ffffff;
}

footer .wrapper p {
  margin-top: 16px;
  float: left;
}

footer span {
  color: #eb4f4e;
}

footer .social {
  width: 31px;
  height: 32px;
  margin: 10px 5px;
  float: right;
  background-color: #eb4f4e;
}

footer .fb.social {
  background: #eb4f4e url("img/fb-icon.png") no-repeat 50% 50%;
}

footer .tw.social {
  background: #eb4f4e url("img/twitter-icon.png") no-repeat 50% 50%;
  background-size: 21px 17px;
}

footer .rss.social {
  background: #eb4f4e url("img/rss-icon.png") no-repeat 50% 50%;
}

footer p.red{
  display: block;
  padding-top: 30px;
  color: #eb4f4e;
}

footer .h2 {
  display: block;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

footer .contacts {
  position: absolute;
  top: 100px;
  left: 35%;
  width: 620px;
  padding-top: 20px;
  padding-bottom: 25px;
  /*height: 152px;*/
  text-align: center;
  background-color: #232324;
}

footer img {
  width: 100%;
}
